.title {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  height: 400px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/World_map_2004_CIA_large_1.7m_whitespace_removed.jpg/1280px-World_map_2004_CIA_large_1.7m_whitespace_removed.jpg?download');  
}
.title h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 5em;
  
}