.title {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  height: 400px;
  background-image: url('../assets/img/mny0097-001.jpg');
}
.title h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 5em;
  
}
.selection {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
.selection h2 {
  font-size: 3.0em;

}

.flag {
  font-size: 3.0em;
  height: auto;
  width: 300px;
  border: #000000 solid 1px;
  flex-basis: 1;
  margin: 0.75em;
  margin-top: 2em;
}
.img_box {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
footer {
  background-color: #4444ff;
  color: #ffffff;
  padding: 0px 0px 0px 10px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}