* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.navbar-left {
    font-size: 24px;
    font-weight: bold;
}

.navbar-right button {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

.navbar-right button:hover {
    background-color: #777;
}
